.home-page {
    .home-project {
    	@include make-col-ready();
    	@include make-col(12);
    	margin-bottom: 40px;

    	img {
    		width: 100%;
    		max-height: 360px; //420
    		object-fit: cover;
    		border-radius: 3px;
    		margin-bottom: 10px;
    	}

    	h2 {
    		width: 50%;//15
    		float: left;
    		padding: 30px;
    		border-radius: 3px;
    		background-color: $gray-100;
    	}

    	p {
    		width: 50%; //69
    		float: right;
    		padding: 30px;
    		border-radius: 3px;
    		background-color: $gray-100;
    	}
    }
    .banner{
        padding-top: 2rem;
    }
}
.container{
    .top{
        width: 100%;
    }
    .banner{
        width:100%;
    }
}
